.mx-auto.w-full{:class => "md:w-2/3"}
  %h1.font-bold.text-4xl Editing article
  = render "form", article: @article

  %div.block.mt-3
    = link_to "Show this article", @article, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to "Back to articles", articles_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
